/* Home.css */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%; /* Update to 100% for responsiveness */
  margin: 0;
  background-color: #ffffff; /* Use a solid color for the background */
  color: #333;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.app-title {
  font-size: 3em;
  font-weight: 700;
  color: #34495e;
  margin-bottom: 20px;
}

.home-image {
  width: 150px; /* Adjust the size as needed */
  height: auto; /* Maintain aspect ratio */
  margin: 20px 0; /* Space between title and image */
}

button {
  padding: 0.5em 1.2em;
  font-size: 1em;
  font-weight: 600;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #2980b9;
  transform: translateY(-3px);
}
